{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Recibo list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Servicoid</th>
                <th>Clienteid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('recibo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.data %}{{ entity.data|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.servico }}</td>
                <td>{{ entity.cliente }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('recibo_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('recibo_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('recibo_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
